*/_build/**
__pycache__
.pytest_cache
.vscode
/.idea/
.idea
/cmake-build-debug/
/out/
~$*
*~
*.swp
*.swo
.ipynb_checkpoints
*/.ipynb_checkpoints/*
*.pyc
*/__pycache__/*
*/.pytest_cache/*
/venv/
*.py[cod]
*.DS_Store
