*/_build/**
__pycache__
.pytest_cache
.vscode
.idea
/cmake-build-debug/
/out/
~$*
*~
*.swp
*.swo
.ipynb_checkpoints
*.pyc
/venv/
*.py[cod]
*.DS_Store
*/tmp/*
*/tmp/**
*/**/node_modules/*
*/node_modules/*
awesome/node_modules
awesome/sync/.config.development.json
*/.python-version
.python-version