pytest
pandas
numpy
matplotlib
pywaffle
scikit-learn
scipy
seaborn
tensorflow
jupyter-book
notebook
jupyter_contrib_nbextensions
sphinxcontrib-mermaid
sphinxcontrib-wavedrom
sphinxcontrib-plantuml
sphinxcontrib-tikz
sphinxcontrib-blockdiag
sphinxcontrib-drawio
git+https://github.com/bonartm/sphinxcontrib-quizdown.git