html, body {
  padding: 0;
  margin: 0;
  background-color: #f0f0f0;
  font-family: sans-serif;
  text-align: center;
}

#dropdowns, #output, #flags {
  position: relative;
}

#dropdowns {
  background-color: white;
  text-align: center;
  padding: 10px;
  margin-bottom: 20px;
}

.picker-cell {
  display: inline-block;
  margin: 0 10px;
}

.picker-cell > label {
  display: inline-block;
  text-align: right;
}

.picker-cell > select {
  display: inline-block;
  width: 110px;
}

#output {
  background-color: white;
  display: inline-block;
  width: 300px;
  padding: 10px;
}

#output > label {
  display: inline-block;
  padding-bottom: 10px;
}

#canvas-container {
  position: relative;
  display: block;
  width: 300px;
  height: 300px;
}

#data-canvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#output.loading #loading-shield {
  display: block;
}

#loading-shield {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

#loading-shield label {
  color: white;
  font-weight: bolder;
  position: absolute;
  top: calc(50% - 15px);
  line-height: 30px;
  left: 0;
  width: 100%;
  text-align: center;
}

#flags {
  display: inline-block;
  background-color: white;
  width: 250px;
  padding: 10px 35px;
  margin-top: 15px;
  text-align: left;
}

.flag-cell {
  margin: 5px 0;
}

#data-picker {
  background-color: white;

  display: inline-block;
  padding: 10px 0;
  margin-bottom: 15px;
}

#data-picker canvas {
  border: 2px solid #d5d5d5;
  border-radius: 3px;
  opacity: 0.3;
  cursor: pointer;

  width: 40px;
  height: 40px;

  margin: 0 10px;
}

#data-picker canvas:hover {
  border: 2px solid #999;
  opacity: 0.5;
}

#data-picker canvas.selected {
  border: 2px solid black;
  opacity: 1;
}
