[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pytest = "*"
numpy = "*"
pandas = "*"
matplotlib = "*"
pywaffle = "*"
scikit-learn = "*"
scipy = "*"
seaborn = "*"
tensorflow = "*"
nbmake = "*"
rise = "*"
jupyter-contrib-nbextensions = "*"
lckr-jupyterlab-variableinspector = "*"
jupyterlab-widgets = "*"
jupyterlab-pytutor = "*"

[dev-packages]
