div.logo {
  display: flex;
  align-items: center;
  margin-top: 20px;
}
div.alignRight {
  display: flex;
  justify-content: flex-end;
}
div.row {
  display: flex;
  flex-direction: row;
}
.one {
  flex: 1;
}
img.removeMargin {
  margin: 0px;
}
div.header {
  margin: 20px;
}
#rise-header {
  position: absolute;
  right: 0;
  top: 0;
}
.headerText {
  font-weight: bold;
  font-size: x-large;
}