body.modal-open {
  overflow: hidden;
}

#map-dialog {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;

  display: none;
  justify-content: center;
  align-items: center;

  background-color: rgba(0,0,0,.9);
}

  #map-dialog.is-visible {
    display: flex;
  }

  #map-dialog .inner-panel {
    position: relative;

    background-color: #2f3137;
    border-radius: 6px;
    box-shadow: 0 2px 4px rgba(0,0,0,.2);
    padding: 40px 5px 0 5px;
    width: 40%;
    min-width: 600px;

    font-family: Roboto Mono,Source Code Pro,Menlo,Courier,monospace;
    font-size: 14px;
  }

  #map-dialog .title {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    padding: 8px 10px;

    color: rgba(255,255,255,.6);
    background-color: rgba(200,202,208,.1);
  }

  #map-dialog .close-button {
    position: absolute;
    top: 0;
    right: 0;
    padding: 2px 10px;

    border: 0;
    background: none;
    color: white;
    font-size: 24px;
    opacity: .3;

    cursor: pointer;
    transition: all .1s ease-in-out;
  }

    #map-dialog .close-button:hover,
    #map-dialog .close-button:focus {
      opacity: 1;
    }

  #map-dialog .image-container {
    position: relative;
  }

  #map-dialog .crosshair-line {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;

    box-shadow: 0 0 5px 0 black;
    pointer-events: none;
  }

    #map-dialog .horizontal-line { border-top: 1px solid rgba(255,255,255,1); height: 1px; }
    #map-dialog .vertical-line { border-right: 1px solid rgba(255,255,255,1); width: 1px; }

    #map-dialog .crosshair-line.is-hidden { display: none; }

  #map-dialog .crosshair-label {
    float: left;
    background-color: black;
    color: white;
    font-size: 12px;
    padding: 5px 10px;
  }

    #map-dialog .vertical-line-label {
      margin-left: 1px;
      width: 85px;
    }

  #map-dialog img {
    width: 100%;
    height: auto;
    cursor: pointer;
  }

  #map-dialog .credits {
    padding: 5px 0 8px 0;
    text-align: center;
    color: white;
    font-size: 12px;
    opacity: .6;
  }

    #map-dialog .credits a {
      font-weight: bold;
      color: white;
    }