.corner-links {
  position: absolute;
  left: 0;
  bottom: 0;
  padding: 10px 15px;

  display: flex;
  align-items: center;

  /* background-color: rgba(0,0,0,.8); */
}

  .corner-links a {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    color: white;
    text-decoration: none;
    opacity: .6;
  }

    .corner-links a:hover,
    .corner-linksa:focus {
      opacity: 1;
    }

  .corner-links .github-link {
    /* margin-right: 20px; */
    font-size: 36px;
  }

  .corner-links .about-link {}

    .corner-links .about-link:hover,
    .corner-links .about-link:focus {
      text-decoration: underline;
    }