body {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 16px;
  padding-top: 70px;
}

p {
  text-align: justify;
}

#header {
  margin-top: 20px;
  margin-bottom: 20px;
}

h1 {
  font-size: 30px;
  font-weight: 300;
  text-align: center;
}

h2 {
  font-size: 25px;
  /* font-weight: 300; */
  font-weight: bold;
  color: #8c1515;
}

h3 {
  font-size: 20px;
  font-weight: bold;
}

.lhead {
  font-weight: normal;
  margin-top: 5px;
}

.litem {
  margin-top: 5px;
}

#footer {
  height: 100px;
  padding-top: 50px;
  text-align: center;
  position: relative;
}

.instructorphoto img {
  width: 120px;
  border-radius: 100px;
  margin-bottom: 10px;
}

.logo-left {
  height:60px;
  float: left;
  margin-left: 50px;
}

.logo-right {
  height:60px;
  float: right;
  margin-right: 50px;
}

.instructor {
  display: inline-block;
  width: 140px;
  text-align: center;
  margin-right: 20px;
  margin-bottom: 5px;
  font-size: 14px;
}

.sec {
  margin-bottom: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.sechighlight {
  background-color: #f7f6f1;
}

.tt {
  color: #060;
  display: inline-block;
}

#inputlayer {
  width: 65px;
}

.layer {
  width: 35px;
  display: inline-block;
  vertical-align: middle;
  margin-left: 10px;
  margin-bottom: 5px;
}

.actmap {
  display: block;
  border: 2px solid #FFF;
}

#convnetvis {
  text-align: center;
}

.pp {
  color: black;
  text-align: left;
  padding: 5px;
  height: 32px;
  margin: 2px;
  background-color: rgb(85,187,85);
  overflow: visible !important;
}

#convask {
  position: absolute;
  top: 360px;
  right: 16px;
  color: black;
  font-size: 25px;
  cursor: pointer;
}

#explain {
  display: none;
  background-color: #FF9;
  border-radius: 10px;
  margin: 10px;
  padding: 10px;
}
.qq {
  color: #060;
}
.qa {
  font-style: italic;
}
.qqa {
  margin-bottom: 20px;
}
.spanh {
  font-weight: normal;
}

#coursedesc {
  text-align: justify;
}

#classicons {
  position: absolute;
  bottom: 20px;
  right: 20px;
}

.bold { font-weight: bold; }
.red { color: #FF0000; }

/* Navbar color / spacing */
.navbar-default {
  background-color: #8c1515;
  border-color: #c0392b;
  text-align: center;
}
.navbar-default .navbar-brand {
  color: #ecf0f1;
  font-weight: bold;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: #fbcbcc;
}
.navbar-default .navbar-text {
  color: #ecf0f1;
}
.navbar-default .navbar-collapse > ul {
  width: 80%;
}
.navbar-default .navbar-collapse > ul > li {
  width: 16%;
}
.navbar-default .navbar-nav > li > a {
  color: #ecf0f1;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #fbcbcc;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #fbcbcc;
  background-color: #c0392b;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  color: #fbcbcc;
  background-color: #c0392b;
}
.navbar-default .navbar-toggle {
  border-color: #c0392b;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: #c0392b;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #ecf0f1;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #ecf0f1;
}
.navbar-default .navbar-link {
  color: #ecf0f1;
}
.navbar-default .navbar-link:hover {
  color: #fbcbcc;
}

/* Handle formatting on mobile */
@media (max-width: 767px) {
  .navbar-default .navbar-collapse > ul > li {
    width: 100%;
    text-align: left;
  }

  /* Force table to not be like tables anymore */
  table, thead, tbody, th, td, tr {
    display: block;
  }

  /* Hide table headers (but not display: none;, for accessibility) */
  thead tr {
    position: absolute;
    top: -9999px;
    left: -9999px;
  }

  /* Make each row look like a card */
  table tr {
    margin-bottom: 20px;
    border-bottom: 2px solid #ddd;
    box-shadow: 2px 2px 1px #dadada;
  }

  tr { border: 1px solid #ccc; }

  /* Behave  like a "row" */
  td {
    border: none;
    border-bottom: 1px solid #eee;
    position: relative;
    padding-left: 50%;
  }

  /* Position table header as data labels */
  td:before {
    top: 6px;
    left: 6px;
    width: 45%;
    padding-right: 10px;
    white-space: nowrap;
  }

  /* Label the data */
  #schedule td:nth-of-type(1) { font-weight: 500; }
  #schedule td:nth-of-type(1):before {
    content: "Date:";
    font-weight: 300;
  }
  #schedule td:nth-of-type(2) { font-weight: 500; }
  #schedule td:nth-of-type(2):before {
    content: "Description:";
    font-weight: 300;
  }
  #schedule td:nth-of-type(4):before { content: "Events:"; }
  #schedule td:nth-of-type(5):before { content: "Deadlines:"; }
}
#teaser {
  height: 410px;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 3px;
  padding-right: 3px;
  background-color: white;
  position: relative;
  overflow: hidden;
  font-size: 16px;
  text-align: center;
}
