#legends {
    margin-top: 20px;
    margin-bottom: 20px;
}
#buttonWrapper {
    margin-top: 10px;
}
div {
    margin-bottom: 20px;
}
label {
    font-weight: bold;
}
h2 {
    color: #ED7D31;
}
img {
    margin-right: 20px;
}