.container-xl {
  max-width: 100%;
}

.pythontutor.inner {
  position:relative;
  height:800px;
  width:100%;
  overflow:hidden;
  margin: 0px;
}

.pythontutor iframe{
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
}

.pandastutor {
  position:relative;
  height:800px;
  width:100%;
  overflow:hidden;
  margin: 0px;
}

.pandastutor iframe{
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
}
